
<!-- JS ============================================ -->

<!-- jQuery JS -->
<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/static/js/plugins.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>
<!-- Main JS -->
<script src="/static/js/main.js"></script>
<script type="text/javascript">
  $('.timepicker').timepicker({
      timeFormat: 'HH:mm',
      interval: 20,
      minHour: '5',
      maxHour: '24',
      defaultTime: '05',
      startTime: '05:00',
      dynamic: false,
      dropdown: true,
      scrollbar: true
  });
</script>
</body>
</html>
