{% include 'admin/header.html' %}

<div class="page-section section pt-50 pb-50">
  <div class="container">

     <div class="cart-table table-responsive mb-40">
       <table class="table">
           <thead>
               <tr>
                   <th class="pro-thumbnail">ID</th>
                   <th class="pro-title">Ad Soyad</th>
                   <th class="pro-price">Eposta</th>
                   <th class="pro-price">Durumu</th>
                   <th class="pro-remove"></th>
               </tr>
           </thead>
           <tbody>
               {% for kullanici in kullanicilar %}
               <tr class="sepet_sayfa_kullanici{{kullanici.id}}">
                   <td class="pro-thumbnail">{{kullanici.id}}</td>
                   <td class="pro-title">{{kullanici.name}}</td>
                   <td class="pro-price"><span>{{kullanici.email}}</span></td>
                   <td class="pro-price">{% if kullanici.is_active == True %} Aktif {% else %} Pasif {% endif %}</td>
                   <td class="pro-remove">
                     {% if kullanici.roles %}
                     -
                     {% else %}
                     <a href="/admin/kullanici_sil/{{kullanici.id}}"><i class="fa fa-trash-o"></i> Sil</a>
                     {% endif %}
                   </td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
     </div>

  </div>
</div>
{% include 'admin/footer.html' %}
<script>
$('.main-menu .admin_kullanici').addClass('active');
</script>
