{% include 'admin/header.html' %}

<div class="page-section section pt-50 pb-50">
  <div class="container">
    <form class="contact-form mb-20">
       <input id="input_rezervasyon" type="text" onkeyup="myFunction()" placeholder="Yolcu Adına Göre Arama...">
    </form>
     <div class="cart-table table-responsive mb-40">
       <table class="table" id="RezTable">
           <thead>
               <tr>
                   <th class="pro-thumbnail">ID</th>
                   <th class="pro-title">Nereden - Nereye</th>
                   <th class="pro-price">Tarih Saat</th>
                   <th class="pro-price">Fiyat</th>
                   <th class="pro-remove">Yolcu</th>
                   <th class="pro-remove"></th>
               </tr>
           </thead>
           <tbody>
             {% for rezervasyon in rezervasyonlar %}
             <tr>
                 <td class="pro-thumbnail">R{{rezervasyon.id}}</td>
                 <td class="pro-title">{{rezervasyon.departure}} - {{rezervasyon.arrival}}</td>
                 <td class="pro-price"><span>{{rezervasyon.datetime}}</span></td>
                 <td class="pro-price">₺{{rezervasyon.price}}</td>
                 <td class="pro-remove">{{rezervasyon.passenger_name}}</td>
                 <td class="pro-remove"><a href="/admin/rezervasyon_sil/{{rezervasyon.id}}"><i class="fa fa-trash-o"></i> Sil</a></td>
             </tr>
             {% endfor %}
           </tbody>
       </table>
     </div>

  </div>
</div>
{% include 'admin/footer.html' %}
<script>
$('.main-menu .admin_rezervasyon').addClass('active');
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("input_rezervasyon");
  filter = input.value.toUpperCase();
  table = document.getElementById("RezTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
