{% include 'header.html' %}
<!-- Checkout Page Start -->
<div class="page-section section mt-90 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Checkout Form s-->
                <form action="/odeme_tamamla" method="POST" class="checkout-form">
                   <div class="row row-40">

                       <div class="col-lg-7 mb-20">

                           <!-- Billing Address -->
                           <div id="billing-form" class="mb-40">

                               <div class="row">

                                   <div class="col-md-12 col-12 mb-20">
                                       <label>Adınız *</label>
                                       <input type="text" placeholder="Adınız Soyadınız" name="adsoyad" value="{{current_user.name}}" required>
                                   </div>

                                   <div class="col-md-12 col-12 mb-20">
                                       <label>Eposta Adresiniz *</label>
                                       <input type="email" placeholder="Eposta Adresiniz" name="eposta" value="{{current_user.email}}" required>
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Adresiniz *</label>
                                       <input type="text" placeholder="Adres Bilgisi Giriniz" name="adres" required>
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Ülke *</label>
                                       <select class="nice-select" name="ulke" required>
                                            <option>Türkiye</option>
                                       </select>
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Şehir *</label>
                                       <input type="text" placeholder="Şehir Yazınız" name="sehir" required>
                                   </div>

                               </div>

                           </div>

                       </div>

                       <div class="col-lg-5">
                           <div class="row">

                               <!-- Cart Total -->
                               <div class="col-12 mb-20">


                                   <div class="checkout-cart-total">

                                       <h4>Nereden - Nereye <span>Fiyat</span></h4>

                                       <ul>
                                          {% for ucus in ucuslarim %}
                                         <li>
                                           {{ucuslarim[ucus]['nereden']}}-{{ucuslarim[ucus]['nereye']}} ({{ucuslarim[ucus]['tarihsaat']}})
                                           <span>₺{{ucuslarim[ucus]['fiyat']}}</span>
                                         </li>
                                         {% endfor %}
                                       </ul>

                                       <p class="bonus">Bonus Puan <span>₺{{bonus.harcanan}}</span></p>
                                       <h4 class="odenecek">Ödenecek Tutar <span></span></h4>

                                   </div>

                               </div>

                               <!-- Payment Method -->
                               <div class="col-12 mb-60">


                                   <div class="checkout-payment-method">

                                       <div class="single-method">
                                           <input type="radio" id="payment_check" name="odeme_turu" value="nakit">
                                           <label for="payment_check">Nakit Öde</label>
                                           <p data-method="nakit">Lütfen Ödeme Yöntemi Seçiniz, Gerekli Bilgileri Doğru Doldurunuz</p>
                                       </div>
                                       <hr>
                                       <div class="single-method">
                                           <input type="radio" id="payment_bank" name="odeme_turu" value="kredikarti">
                                           <label for="payment_bank">Kredi Kartı ile Öde</label>
                                           <p data-method="kredikarti">Lütfen Ödeme Yöntemi Seçiniz, Gerekli Bilgileri Doğru Doldurunuz</p>
                                       </div>
                                       <hr>
                                       <div class="single-method">
                                           <input type="checkbox" id="accept_terms" name="sartlar" value="yes" required>
                                           <label for="accept_terms">Rezervasyon ve ödeme kurallarını, şartlarını okudum ve kabul ediyorum</label>
                                       </div>

                                   </div>

                                   <button type="submit" class="place-order">Rezervasyonu Tamamla</button>

                               </div>

                           </div>
                       </div>

                   </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Checkout Page End -->

{% include 'footer.html' %}
