{% include 'header.html' %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-12 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner pt-10 pb-10">
                <h1 style="text-transform: capitalize;">{{nereden}} - {{nereye}}</h1>
            </div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Product Section Start -->
<div class="product-section section mt-40 mb-90">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <!-- Shop Product Wrap Start -->
                    <div class="shop-product-wrap list row">
                      {% if ucuslar %}
                        {% for ucus in ucuslar %}
                        <div class="col-lg-12 col-12 pb-30 pt-10">

                            <!-- Product List Start -->
                            <div class="ee-product-list">

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="head-content">
                                      <div class="row align-items-center" style="width: 100%;">
                                          <div class="col-lg-3">
                                            <div class="category-title">
                                                <h5 class="ucus_tarih title mt-10">
                                                    <span>{{ucak_tarih}}</span>{{nereden}} - {{nereye}}
                                                </h5>
                                            </div>
                                          </div>
                                          <div class="col-lg-3">
                                            <div class="category-title">
                                                <h5 class="ucus_tarih text-center mt-10">
                                                    Saat : {{ucus.time}}
                                                </h5>
                                                <input type="hidden" name="ucak_saati{{ucus.id}}" value="{{ucus.time}}" readonly>
                                            </div>
                                          </div>

                                          <div class="col-lg-3">
                                            <div class="category-title">
                                                <h5 class="ucus_tarih text-center mt-10" id="ucak_fiyat{{ucus.id}}" style="font-size: 24px;">
                                                    ₺{{ucus.price}}
                                                </h5>
                                                <input type="hidden" name="ucak_fiyat{{ucus.id}}" id="ucak_input_fiyat{{ucus.id}}" value="" readonly>
                                            </div>
                                          </div>

                                          <script type="text/javascript">
                                            var bilet_fiyat = parseFloat('{{bilet_turu}}') * parseFloat('{{ucus.price}}');
                                            document.getElementById("ucak_fiyat{{ucus.id}}").innerHTML = '₺' + bilet_fiyat;
                                            document.getElementById("ucak_input_fiyat{{ucus.id}}").value = bilet_fiyat;
                                          </script>

                                          <div class="col-lg-3">
                                            <div class="left-content border-0 mt-10">
                                              <div class="actions">
                                                  <a onclick="sepeteEkle('{{ucus.id}}')" class="add-to-cart sepet_durum{{ucus.id}}">
                                                     <i class="icofont icofont-airplane-alt"></i><span>Sepete Ekle</span>
                                                  </a>
                                              </div>
                                            </div>
                                          </div>

                                      </div>
                                    </div>

                                </div>

                            </div><!-- Product List End -->

                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-lg-12 col-12 pb-30 pt-30 text-center">
                          <h2 class="title"> Uygun Uçuş Bulunamadı!.. </h2>
                        </div>
                        {% endif %}
                    </div><!-- Shop Product Wrap End -->

                </div>

            </div>
        </div>
    </div><!-- Feature Product Section End -->

{% include 'footer.html' %}
