{% include 'header.html' %}

<!-- Login Section Start -->
<div class="login-section section mt-50 mb-50">
    <div class="container">
        <div class="text-center pt-10 pb-10 mt-20">
          <img src="/static/images/done.png" width="120" height="120" />
          <h3 class="mt-20">İyi Uçuşlar Dileriz</h3>
        </div>
        <div class="text-center pt-10 pb-10 mt-10 mb-20">
          <p class="lead" style="line-height: 1.75">
            Rezervasyonunuz başarıyla tamamlandı. <br>
            Uçuş bilgilerinize <a href="/hesabim"><b>Hesabım</b></a> > <a href="/hesabim/gelecek"><b>Gelecek Uçuşlarım</b></a> sayfasından ulaşabilirsiniz. <br>
          </p>
        </div>
    </div>
</div><!-- Login Section End -->

{% include 'footer.html' %}
